.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #24292d;
  background-image: url("./images/gitHub.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -150px;
  background-position-x: -270px;

  color: #24292d;
}

.btn-toogle {
  margin: 0 auto;
  margin-bottom: 3%;
}
.btn-toogle button,
input {
  width: 100%;
  height: 6vh;
  margin-top: 3%;

  color: rgba(245, 245, 245, 0.801);
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

  border: 1px solid rgba(245, 245, 245, 0);
  border-radius: 3px;

  background-color: rgba(245, 245, 245, 0);

  cursor: pointer;
  outline: none;
  transition: 0.4s;
}

.btn-toogle button:hover {
  border: 1px solid rgba(71, 255, 117, 0.836);
  background-color: rgba(71, 255, 117, 0.836);
  color: rgb(48, 44, 44);
}

input {
  background-color: rgba(245, 245, 245, 0.425);
}
input::placeholder {
  text-align: center;
  color: rgb(48, 44, 44);
}

p {
  text-align: center;
  font-weight: bold;
}
.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 8px;
  font-weight: bold;
}
.ant-card {
  font-weight: bold;
}
.fa-search {
  font-family: "fontawesome", sans-serif;
}
.message-error {
  color: rgb(243 46 46 / 85%);
  font-weight: BOLD;
}

@media screen and (max-width: 425px) {
  .App {
    background-position: bottom;
  }
}
